fastapi
python-dotenv
langchain
langchain-core
langchain-community
uvicorn
langchainhub
faiss-cpu
langchain-fireworks
langchain-cohere
pypdf
transformers
pandas 
PyPDF2
tensorflow
tf-keras
sumy
spacy
scikit-learn
streamlit
nltk
